body {
    display: grid;
    grid-template-columns: 250px auto;
}

#navWrapper {
    grid-row: 1 / span 3;
    position: relative;
}

nav ul {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 250px;

    
    

    li {
        flex:none;
        width: 250px;
        position: relative;
        z-index: 1; // keep items above the glow
    }
}

            .workText {
                opacity: 0;
                transform: translateY(20px);
                transition: opacity 0.3s ease, transform 0.3s ease;
            }
            
