/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {
    display: none;
}

#primaryNav {display: flex;}

nav {
    ul {
        a {
            img {display: none;}
            span {display: block;}
        }
    }

}

div#intro {
    display: grid;
    grid-template-columns: 250px auto;

    p {
        margin-left: $gutter;
    }
}


    div#workCards {
        gap: 1.5rem;
        div.card{
            position: relative;        // so .workText positions inside this
            flex: 1 1 320px;           // your auto-fit width behavior
            margin: 1rem;

            overflow: hidden;          // hide anything that spills out
            aspect-ratio: 4 / 3;       // controls card HEIGHT
            


            img {
                width: 100%;
                display: block;
              //  height: auto;

                height: 100%;          // fill the card vertically
                object-fit: cover;     // crop to fill instead of stretching
            }


        }
    }