/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}

/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: flex;
    align-items: center; //vertically
    padding: .5rem $gutter;
    img {
        margin-right: 1rem;
        border-radius: 8px;
    }
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#navWrapper {
    background-color: $menuColor;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
        flex: 1;
    }

    li.active {
        background-color: darken($menuColor, 10%);
        a {
            background: $skill-gradient;
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;             // Makes gradient show on text
        -webkit-text-fill-color: transparent;
        }

    }

    a {
        color: white;
        display: block;
        padding: .75rem $gutter;
        text-decoration: none;
        text-align: center;

        img {
            width: 25px;
        }

        span {
            display: block;
            color: rgb(184, 184, 184);
        }

        &:hover {
            background-color: lighten($menuColor, 10%);
        }
    }


    
}








/* --------------------------- MAIN --------------------------- */
#mainWrapper {
    margin: auto;
}
main {

    max-width: 960px;
    margin: auto;
    h1 {
        padding: 1rem $gutter .5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    p {
        padding: $gutter 0 ;
        color: #333;
        line-height: $leading;
    }

    margin: 1rem;

    h1, h2, h3 {
        font-family: $headingFont;
    }
    
}// end main

section {
    min-height: 100vh;
    margin: 2rem 0 5rem 0;
}

section#about {
    img {
        display: block;
        margin: auto;
        height: auto;
        border-radius: 15px;
        box-shadow: 0px 3px 8px 5px rgb(231, 231, 231);
    }
}

section#work {
    
    div#workCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div.card{
            box-shadow: 0px 0px 5px 3px rgb(227, 227, 227);
            border-radius: 10px;
            width: 100%;
            margin: 1rem 0 1rem 0;
            position: relative;

                &:hover .workText {
        opacity: 1;
        transform: translateY(0);
    }

            
            img {
                width: 100%;
                display: block;
                height: auto;
            }

            
            .workText {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                bottom: 0;
                background: linear-gradient(0deg,rgba(255, 255, 255, 1) 37%, rgba(0, 0, 0, 0) 100%);
                right: 0;
                left: 0;
                height: 50%;

                
                h3 {
                    margin: 1rem 0 .5rem 0 ;
                    padding: $gutter;
                }

                p {
                    margin: 0;
                    padding: $gutter;
                }

            }
            
        }
    }
} // End work section

section#skills {

    h3 {
        background: $skill-gradient;
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;             // Makes gradient show on text
        -webkit-text-fill-color: transparent;
    }

    
    div#skillCards > div {
        display: grid;
        grid-template-areas: 
            "img h3"
            "img p"
        ;
        grid-template-columns: 100px auto;

        img {
            grid-area: img;
            align-self:baseline;
            justify-self: center;
            height: 50%;
            max-width: 80px
        }

        h3 {
            grid-area: h3;
            margin-bottom: .5rem;
        }

        p {
            grid-area: p;
            margin: 0;
            padding: 0;
        }

        margin: 2rem 0 2rem 0;
    }
}

section#resume {
    img {
        display: block;
        width: 50%;
        height: auto;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 3px 8px 5px rgb(231, 231, 231);

    }
    button {
        display: block;
        margin: auto;
        margin-top: 2rem;
        background-color: black;
        border: none;
        color: white;
        padding: .5rem;
        width: 200px;
        border-radius: 4px;

    }
}

section#contact {
    form.myForm {
        margin: auto;
        
        label   {
            display: block;
            font-size: .8rem;
            padding-top: .2rem ;
        }
        
        h3 {
            font-size: .9rem;
            color: $secondaryColor;
            margin: 1.5rem 0 .2rem 0;
            border-bottom: 1px solid #eee;
        }
        
        input[type=text],
        input[type=email],
        textarea {
            display: block;
            margin: .1rem 0 1rem 0;
            border: .5px solid rgb(212, 211, 211);
            box-shadow: 1px 1px 2px .5px rgb(212, 211, 211);
            border-radius: 10px;
            font-size: .8rem;
            width: 250px;
            padding: .5rem $gutter;
        }
    

        input:focus {
            border-bottom-color: grey;
        }
        
        input[type=submit] {
            border: none;
            background-color: $primaryColor;
            color: white;
            border-radius: 1rem;
            padding: .75rem 1.5rem;
            margin: 2rem 0;
            width: 250px;
            font-size: 1rem;
            background: $primaryColor;
            color: white;
        }
        
        } // end of the form
}



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {margin: 1rem;}

}// end footer